*, html, body, {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: rgb(0, 76, 112);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.logo {
    margin-right: auto;
}

.Pa {
    margin-right: 10px;
    margin-top: 25px;
    margin-bottom: 25px;
    border: none;
    font-size: 15px;
    border-radius: 9px;
    cursor: pointer;
}
.Pi {
    margin-right: 10px;
    margin-top: 25px;
    margin-bottom: 25px;
    border: none;
    font-size: 15px;
    border-radius: 9px;
    cursor: pointer;
}

nav ul {
    display: flex;
    padding: 20px;
   
}

li {
    list-style-type: none;
    padding: 20px;

}

li a {
    padding: 15px;
    transition: all .5s ease 0s;
}

li :hover{
    color: black;
    text-shadow: azure;
}

a {
    text-decoration: none;
    color: azure;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.title {
    font-size: 25px;
    font-weight: bolder;
    
}

.description {
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
}

.container {
    max-width: 1350px;
    margin: auto;
}
